:root {
  /* Font Family */
  --overpass: "Overpass", sans-serif;
  --ubuntu: "Ubuntu", sans-serif;
  /* Font weights */
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;
  /* Colors */
  /* Primary */
  --primary-light-red: hsl(356, 100%, 66%);
  --primary-very-light-red: hsl(355, 100%, 74%);
  --primary-very-dark-blue: hsl(208, 49%, 24%);
  /* Accent / Neutral */
  --accent-white: hsl(0, 0%, 100%);
  --accent-grayish-blue: hsl(240, 2%, 79%);
  --accent-dark-grayish-blue: hsl(207, 13%, 34%);
  --accent-dark-black-blue: hsl(240, 10%, 16%);
  /* Gradient */
  --gradient-very-light-red: hsl(13, 100%, 72%);
  --gradient-light-red: hsl(353, 100%, 62%);
  --gradient-gray-blue: hsl(237, 17%, 21%);
  --gradient-desaturated-blue: hsl(237, 23%, 32%);
  /* Font sizes */
  --fs-base: 1rem;
  --fs-18: 1.125rem;
  /* Paddings */
  --p-24: 1.5rem;
}

@media screen and (min-width: 48em) {
  :root {
    --p-24: 3.5rem;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: inherit;
}

body {
  height: 100vh;
  line-height: 1.7;
  -webkit-font-smoothing: antialiased;
  font-size: var(--fs-base);
  overflow-x: hidden;
  color: var(--accent-dark-grayish-blue);
  font-family: var(--overpass);
  font-weight: var(--fw-light);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  margin-inline: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul {
  list-style: none;
}

/* Utility Classes */
.clr-headings {
  color: var(--primary-very-dark-blue);
}

.white-text {
  color: var(--accent-white);
}

.lh-100 {
  line-height: 1.2;
}

.flex {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-inline: 2.5rem;
}

@media screen and (min-width: 48em) {
  .text-container {
    padding-inline: 8rem;
  }
}

@media screen and (min-width: 62em) {
  .text-container {
    padding: 0 0 0 8rem;
  }
}

/* Main Styles
   HERO SECTION
*/
.main-container {
  gap: 8rem;
}

.hero-wrapper {
  height: 100vh;
  padding-inline: var(--p-24);

  background-image: url("../images/bg-pattern-intro-mobile.svg"),
    linear-gradient(
      to top left,
      var(--gradient-light-red),
      var(--gradient-very-light-red)
    );
  background-repeat: no-repeat;
  background-position: 36% 36%;
  background-color: var(--primary-light-red);

  height: 100vh;
  display: grid;
  place-items: center;
  border-bottom-left-radius: 8rem;
  text-align: center;
  position: relative;
}

.logo {
  width: 5rem;
}

/* HEADER */
.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 3.5rem var(--p-24) 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 48em) {
  .header {
    padding: 5rem 5rem 0;
  }
}

.nav-toggle {
  width: 2rem;
  height: 1.125rem;
  border: none;

  background-color: transparent;
  background-image: url("../images/icon-hamburger.svg");
  background-repeat: no-repeat;
}

.nav {
  position: fixed;
  inset: 0;
  transform: translateX(-100%);
}

/* HERO */
.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.hero__title {
  font-size: 2.2rem;
  grid-column: span 2;
}

@media screen and (min-width: 62em){
  .hero__title {
    font-size: 3rem;
  }
}

.hero__paragraph {
  font-size: 1.125rem;
  grid-column: span 2;
  margin-block-end: 1.5rem;
}

/* BUTTONS */
.btn-main,
.btn-reverse {
  font-family: var(--ubuntu);
  font-weight: var(--fw-bold);
  padding: 1rem 1rem;
  border-radius: 2rem;
  font-size: 1.05rem;
}

.btn-main {
  justify-self: end;
  background-color: var(--accent-white);
  color: var(--primary-light-red);
  border: none;
}

.btn-reverse {
  justify-self: start;
  background-color: transparent;
  color: var(--accent-white);
  border: 1px solid var(--accent-white);
}

/* FEATURES 
   FUTURE
*/
.features {
  text-align: center;
}

.future {
  display: grid;
  gap: 3rem;
}

.future__title {
  grid-row: 1;
  font-size: 1.7rem;
}

.future__subtitle {
  font-size: 1.7rem;
}

@media screen and (min-width: 62em){
  .features {
    text-align: start;
    gap: 8rem;
  }

  .future__title {
    text-align: center;
    font-size: 2.3rem;
  }

  .future{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
  }

  .future__title {
    grid-column: span 2;
  }

  .content-extensible {
    grid-row: 2;
    grid-column: 1;
  }

  .future > picture {
    grid-row: span 2;
    display: flex;
    align-items: center;
  }
}

/* INFRASTRUCTURE */
.infrastructure {
  position: relative;
  padding-block-start: 12rem;
  padding-block-end: 7rem;
  margin-block-start: 12rem;

  background-image: url("../images/bg-pattern-circles.svg"),
    linear-gradient(
      to top left,
      var(--gradient-desaturated-blue),
      var(--gradient-gray-blue)
    );
  background-position: top left, 0 0;
  border-top-right-radius: 6rem;
  border-bottom-left-radius: 6rem;
}

@media screen and (min-width: 48em) {
  .infrastructure {
    padding-block-start: 15rem;
    margin-block-start: 20rem;
  }
}

.infrastructure__illustration {
  position: absolute;
  top: -15rem;
  right: 0;
  left: 0;
}

@media screen and (min-width: 48em) {
  .infrastructure__illustration {
    top: -20rem;
  }
}

.infrastructure__title {
  font-size: 2.25rem;
}

.infrastructure__paragraph {
  color: var(--accent-grayish-blue);
}

@media screen and (min-width: 62em){
  .infrastructure {
    padding-block: 5rem;
    margin-block-start: 0;
  }

  .infra-text {
    padding-inline: 50% 8rem;
  }

  .infrastructure__illustration {
    inset: auto;
    top: 1rem;
    left: 5rem;
    width: 40%;
  }
}

/* FREE POWERFUL */
.free-powerful {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.free-powerful__text {
  padding-inline: 2.5rem;
}

@media screen and (min-width: 48em) {
  .free-powerful__text {
    padding-inline: 8rem;
  }
}

@media screen and (min-width: 62em){
  .free-powerful {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
  }

  .free-powerful > picture {
    grid-row: span 2;
    display: flex;
    align-items: center;
  }

  .free-powerful__text {
    padding-inline: 0 8rem;
  }
}

/* FOOTER */
.doc-footer {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding-block: 5rem;

  text-align: center;
  background-color: var(--accent-dark-black-blue);
}

.links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.links p {
  font-weight: var(--fw-semibold);
}

.links a {
  color: var(--accent-grayish-blue);
  font-family: var(--ubuntu);
  font-weight: var(--fw-medium);
}

@media screen and (min-width: 62em) {
  .doc-footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-inline: 8rem;
  }

  .footer__logo{
    grid-column: span 3;
  }
}
